$primary: #473c8d;
$secondary: #1976d2;
$thirdColor: #9a9fa7;

/* 
 * 全局样式 👇 
 */
#app {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'MiSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: $primary;
}

/* 
 * 覆盖element-ui的样式 👇 
 */

// 改变主题色变量
$--color-primary: $primary;

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.2;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 7px;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.2;
}

/* 
 * 解决element-ui 表格篡位的问题 👇 
 */
body .el-table th.gutter {
  display: table-cell !important;
}
.el-table th {
  display: table-cell !important;
}
::v-deep .el-table th.gutter {
  display: table-cell !important;
}
