$primary: #473c8d;
$secondary: #1976d2;
$thirdColor: #9a9fa7;

// 覆盖element-ui的样式
////////////////////////////////

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.2;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 7px;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.2;
}

// 按钮
.el-button--primary {
  color: white;
  background-color: $primary;
  //   border-color: #8b83d2;
}

.el-button--primary:hover {
  &:active {
    transform: scale(0.9);
  }
  &:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: rgba(241, 241, 241, 0.01);
    border-radius: inherit;
  }
}
